<h2>Forgot your password?</h2>

<%= form_with url: password_reset_path do |form| %>
  <%= form.label :email_address %>
  <%= form.text_field :email_address %>

  <%= form.submit 'Reset Password' %>
<%end%>